/* INDEX PAGE

author: Seadrah Berger
date: 8/20/2024
dile name: index.css
*/

/* MAIN */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 70px;
  padding: 40px 140px;
}

main p,
main section img {
  display: inline-block;
}

main p {
  color: purple;
  font-size: 1.2em;
}

main section img {
  width: 150px;
}

.section-4 {
  grid-column: 2 / 3;
}
